<!-- landing.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ALARMS</title>
    <script src="https://cdn.rawgit.com/bernii/gauge.js/master/dist/gauge.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link your custom CSS file here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='alarms_page.css') }}">
     <script src="{{ url_for('static', filename='gauge.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <main>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fa fa-arrow-right" id="open"></i>
        </label>
        <div class="sidebar">
            <div class="top">
               WLMS
            </div>
            <ul>
                <li><a class="#" href="#"><i class="fa fa-user-circle"></i> PROFILE</a></li>
                <li><a class="#" href="{{ url_for('dashboard') }}"><i class="fa fa-bell"></i> DASHBOARD</a></li>
                <li><a class="#" href="#"><i class="fa fa-book"></i> RECORDS</a></li>
                <li><a class="#" href="#"><i class="fa fa-user-circle"></i> LOGOUT</a></li>
            </ul>
        </div>
        <section>
                    <div class="container">
                        <h1>Alarm Events</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Alarm Event</th>
                                        <th>Time Occurred</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for alarm in alarm_events %}
                                    <tr>
                                        <td>{{ alarm.event }}</td>
                                        <td>{{ alarm.time_occurred }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

        </section>
    </main>



    <!-- Bootstrap and JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
