<!-- landing.html -->
<!DOCTYPE html>
<html>
<head>
    <title>REGISTER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link your custom CSS file here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register_page.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <main>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fa fa-arrow-right" id="open"></i>
        </label>
        <div class="sidebar">
            <div class="top">
               LOGO!
            </div>
            <ul>
                <li><a class="#" href="#"><i class="fa fa-user-circle"></i> HOME</a></li>
                <li><a class="#" href="#"><i class="fa fa-home"></i> LOGIN</a></li>

            </ul>
        </div>
        <section>
            <!-- Login form -->
            <div class="container">
                <div class="card-body">
                    <h1 class="card-title text-center">Sign Up</h1>
                        <form action="" method="post" class="row">
                            <div class="col-md-6">
                                <label class="form-label">First name</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Mobile number or email address</address></label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">New password</label>
                                <input type="password" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                <button type="submit">Sign Up</button>
                            </div>
                        </form>
                </div>
            </div>
        </section>
    </main>



    <!-- Bootstrap and JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
